## First part from https://github.com/github/gitignore/blob/master/SugarCRM.gitignore
# Ignore custom .htaccess stuff.
/.htaccess
## IDE specific items
# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
# IntelliJ Idea
*.iml
*.ipr
*.iws
.idea/
# NetBeans
nbproject/
# Vim
.*.sw[a-z]
*.un~
Session.vim
# Windows
Thumbs.db
Desktop.ini
# Disytel
lang_cmp.php

# Visual Studio
packages/
*.suo
*.user
.vs/
obj
bin


Documentation/html/

Documentation/latex/

licencekey\.txt

*.orig

SuiteCRMAddIn/Documentation/html/

SuiteCRMAddIn/Documentation/latex/

*.pcapng

*.xlsx

*.psess

*.vsp

SuiteCRMAddIn/Images/*_old\.png
