<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SuiteCRMClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <SuiteCRMClient.Properties.Settings>
      <setting name="SuiteCRMClient_SuiteCRMServiceClient_sugarsoap" serializeAs="String">
        <value>http://localhost:8080/SuiteCRM/service/v2/soap.php</value>
      </setting>
      <setting name="SuiteCRMClient_SuiteCRMServiceClient41_suitesoap" serializeAs="String">
        <value>http://localhost:8080/SuiteCRM/service/v4_1/soap.php</value>
      </setting>
    </SuiteCRMClient.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.ServiceModel.DisableUsingServicePointManagerSecurityProtocols=false;Switch.System.Net.DontEnableSchUseStrongCrypto=false" />
    <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSystemDefaultTlsVersions=true" />
  </runtime>
</configuration>
