<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SuiteCRMAddInTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SuiteCRMAddInTests.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value>http://demo.suitecrm.com/suitecrm77/</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>TestUser</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="LDAPKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="RestTimeout" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="LogDirPath" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Debug</value>
            </setting>
            <setting name="LDAPValidUser" serializeAs="String">
                <value>TestUser</value>
            </setting>
            <setting name="LDAPValidPass" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="LicencePublicKey" serializeAs="String">
                <value>b8794235718652747b82fd713deac078</value>
            </setting>
            <setting name="LicenceCustomerKey" serializeAs="String">
                <value>e10a9aff077e983deca51e5d3688636c</value>
            </setting>
        </SuiteCRMAddInTests.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
