<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SugarCRMClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SugarCRMClient.Properties.Settings>
            <setting name="SugarCRMClient_SugarCRMServiceClient_sugarsoap"
                serializeAs="String">
                <value>http://localhost:8080/sugarcrm/service/v2/soap.php</value>
            </setting>
            <setting name="SugarCRMClient_SugarCRMServiceClient41_sugarsoap"
                serializeAs="String">
                <value>http://localhost:8080/sugarcrm/service/v4_1/soap.php</value>
            </setting>
        </SugarCRMClient.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>