<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product 
    Id="*" 
    Name="SuiteCRM Outlook AddIn" 
    Language="1033" 
    Version="1.0.0" 
    Manufacturer="SalesAgility Ltd" 
    UpgradeCode="c1cbb366-6e8f-446e-a16d-a439c8df4db2" 
    Codepage="1252">
    
  	<Package 
      InstallerVersion="200" 
      Compressed="yes" 
      InstallScope="perUser" 
      Description="SuiteCRM Outlook AddIn"
      Manufacturer="SalesAgility Ltd"
      Languages="1033"
      SummaryCodepage="1252" 
      InstallPrivileges="limited"
    />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="SuiteCRMOutlookAddIn.cab" EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <Feature Id="ProductFeature" Title="SuiteCRMOutlookAddIn" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentRef Id="INSTALLFOLDER" />
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <WixVariable Id="WixUILicenseRtf" Value="GPL3.rtf" />

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Binary Id="adxregistrator_exe" SourceFile="$(var.ADX_PATH)\Redistributables\adxregistrator.exe" />
    
    <CustomAction Id="RegisterApp" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand='/install="[INSTALLFOLDER]$(var.SuiteCRMOutlookAddIn.TargetFileName)" /privileges=user /returnExitCode=false' Impersonate="yes" />
    <CustomAction Id="RollbackApp" BinaryKey="adxregistrator_exe" Execute="rollback" ExeCommand='/uninstall="[INSTALLFOLDER]$(var.SuiteCRMOutlookAddIn.TargetFileName)" /privileges=user' Impersonate="yes" Return="ignore" />
    <CustomAction Id="UnregisterApp" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand='/uninstall="[INSTALLFOLDER]$(var.SuiteCRMOutlookAddIn.TargetFileName)" /privileges=user' Impersonate="yes" Return="ignore" />

    <InstallExecuteSequence>
      <Custom Action="RegisterApp" After="StartServices"><![CDATA[$ProductComponent>2]]></Custom>
      <Custom Action="RollbackApp" After="RegisterApp"><![CDATA[$ProductComponent>2]]></Custom>
      <Custom Action="UnregisterApp" After="MsiUnpublishAssemblies"><![CDATA[$ProductComponent=2]]></Custom>
    </InstallExecuteSequence>

    <!-- Properties for all current versions of the .NET Framework are available here: http://wix.sourceforge.net/manual-wix3/wixnetfxextension.htm -->
    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Icon Id="SuiteCRM.exe" SourceFile="SuiteCRM.ico" />
    <Property Id="ARPPRODUCTICON" Value="SuiteCRM.exe" />
    
  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="LocalAppDataFolder">
				<Directory Id="INSTALLFOLDER" Name="SuiteCRMOutlookAddIn" >
         <Component Id="INSTALLFOLDER" Guid="0d39bc8e-b736-44eb-9bad-9bb595cb28a3">
            <RemoveFolder On="both" Id="INSTALLFOLDER"/>
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="SuiteCRMOutlookAddIn" />
          </Component>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" >
      <Component Id="ProductComponent" Guid="de69fef0-bbda-46d5-bab9-8002d8d8f48e" DiskId="1" Directory="INSTALLFOLDER" >
        <RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue Type="string" Name="Installed" Value="[INSTALLFOLDER]" KeyPath="yes" />
        </RegistryKey>
        <File Id="_$(var.SuiteCRMOutlookAddIn.TargetName)_dll" Name="$(var.SuiteCRMOutlookAddIn.TargetFileName)" Source="$(var.SuiteCRMOutlookAddIn.TargetPath)" />
        <File Id="_adxloader_dll_manifest" Name="adxloader.dll.manifest" Source="$(var.SuiteCRMOutlookAddIn.ProjectDir)Loader\" />
        <File Id="_adxloader_dll" Name="adxloader.dll" Source="$(var.SuiteCRMOutlookAddIn.ProjectDir)Loader\"  />
        <File Id="_adxloader64_dll" Name="adxloader64.dll" Source="$(var.SuiteCRMOutlookAddIn.ProjectDir)Loader\" />
        <File Id="_AddinExpress_MSO_2005_dll" Name="AddinExpress.MSO.2005.dll" Source="C:\Program Files (x86)\Add-in Express\Add-in Express for .NET\Bin\" />
				<File Id="_Microsoft_Office_Interop_Outlook_dll" Name="Microsoft.Office.Interop.Outlook.dll" Source="$(var.SuiteCRMOutlookAddIn.TargetDir)" />
				<File Id="_SugarCRMClient_dll" Name="SugarCRMClient.dll" Source="$(var.SuiteCRMOutlookAddIn.TargetDir)" />
				<File Id="_Microsoft_Vbe_Interop_dll" Name="Microsoft.Vbe.Interop.dll" Source="$(var.SuiteCRMOutlookAddIn.TargetDir)" />
				<File Id="_Office_dll" Name="Office.dll" Source="$(var.SuiteCRMOutlookAddIn.TargetDir)" />
				<File Id="_SugarCRMClient_pdb" Name="SugarCRMClient.pdb" Source="$(var.SuiteCRMOutlookAddIn.TargetDir)" />
        <File Id="_ListViewEx_dll" Name="ListViewEx.dll" Source="$(var.SuiteCRMOutlookAddIn.TargetDir)" />
        <File Id="_Newtonsoft_Json_dll" Name="Newtonsoft.Json.dll" Source="$(var.SuiteCRMOutlookAddIn.TargetDir)" />
      </Component>
		</ComponentGroup>
	</Fragment>
 </Wix>