<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SuiteCRMAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <SuiteCRMAddIn.Properties.Settings>
      <setting name="ExcludedEmails" serializeAs="String">
        <value />
      </setting>
      <setting name="PublicKey" serializeAs="String">
        <value>b8794235718652747b82fd713deac078</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Host" serializeAs="String">
        <value />
      </setting>
      <setting name="ArchiveAttachments" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutomaticSearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowCustomModules" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SyncMaxRecords" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SelectedSearchModules" serializeAs="String">
        <value>"1,2,3"</value>
      </setting>
      <setting name="PopulateContextLookupList" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoArchive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsLDAPAuthentication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LDAPKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowConfirmationMessageArchive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>Error</value>
      </setting>
      <setting name="DaysOldEmailToAutoArchive" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LicenceKey" serializeAs="String">
        <value />
      </setting>
      <setting name="RestTimeout" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="NeedsUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ArchivingSearchChains" serializeAs="String">
        <value>{ "Contacts": [ { "linkName": "accounts_contacts_1", "targetName": "accounts", "fields": ["id", "name" ]}]}</value>
      </setting>
      <setting name="StartupDeferral" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="LVSPeriod" serializeAs="String">
        <value>31</value>
      </setting>
      <setting name="LVSStarts" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LVSLastStart" serializeAs="String">
        <value>2000-01-01</value>
      </setting>
      <setting name="LVSStartsRemaining" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LVSDisable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CurrentCrmIdPropertyName" serializeAs="String">
        <value>SEntryID</value>
      </setting>
    </SuiteCRMAddIn.Properties.Settings>
  </userSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.ServiceModel.DisableUsingServicePointManagerSecurityProtocols=false;Switch.System.Net.DontEnableSchUseStrongCrypto=false" />
    <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSystemDefaultTlsVersions=true" />
  </runtime>
</configuration>
