<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="SuiteCRM Outlook AddIn" Version="1.0.0.11" Manufacturer="SalesAgility Ltd" UpgradeCode="0a30df8f-b0cc-49c6-aff3-ab99020e8c81" IconSourceFile="SuiteCRM.ico">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
   LicenseUrl=""
   SuppressOptionsUI="yes"
    LogoFile="CompanyLogo.png"
   xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" />
    </BootstrapperApplicationRef>
    <Chain>
      <PackageGroupRef Id="NetFx45Web" />
      <MsiPackage Id="MyApplication" SourceFile="$(var.SuiteCRMOutlookAddInSetup.TargetPath)" DisplayInternalUI="yes"/>
    </Chain>
  </Bundle>
</Wix>